.body {
	background-color: white;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 25px;
	border-bottom: 1px solid #ccc;
	background-color: blue;
	border-radius: 20px 20px 0px 0px;
}

.menu-icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.menu-icon span {
    display: block;
	width: 25px;
	height: 3px;
	background: white;
	margin: 4px 0;
}

.menu-icon button {
	background-color: darkblue;
	border: none;
	cursor: pointer;
	border-radius: 7px;
}

.menu-icon b {
	color: lightblue;
	font-size: 20px;
	font-weight: bold;
}

.menu-icon img {
	width: 95px;
	height: 80px;
}

.search {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 50px;
	overflow: hidden;
}

.search input {
	width: 250px;
	padding: 10px 15px;
	border: none;
	outline: none;
	flex: 1;
	background-color: white;
}

.search button {
	padding: 10px 18px;
	background-color: darkblue;
	color: white;
	border: none;
	cursor: pointer;
}

.profile {
	font-size: 20px;
	color: white;
}

.profile button {
	padding: 5px 12px;
	background-color: darkblue;
	color: lightblue;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.help {
	font-size: 20px;
	color: white;
}

.help button {
	padding: 5px 12px;
	background-color: darkblue;
	color: lightblue;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.cart button {
	padding: 5px 12px;
	background-color: lightblue;
	color: darkblue;
	border: none;
	cursor: pointer;
	font-size: 20px;
	border-radius: 25px;
}

.recommendedforyou {
	align-items: center;
	justify-content: space-between;
	padding: 15px 25px;
	background-color: lightblue;
}

.recommendedforyou h1, 
.recommendedforyou h2 {
	color: darkblue;
}

.recommendedforyou h2 {
	font-size: 22px;
}

.product-container {
	display: flex;
	background-color: lightblue;
	gap: 15px;
	padding: 20px 25px;
}

.product-card {
	width: 220px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 3px;
    overflow: hidden;
}

.product-image {
	width: 100%;
    height: 200px;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
}

.addcart {
	padding: 5px 5px;
	background-color: blue;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 18px;
	border-radius: 10px;
}

.wishlist {
	padding: 2px 13px;
	background-color: lightblue;
	color: blue;
	border: none;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
}

.addcart-wishlist {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: darkblue;
    color: white;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h2,
.footer-section h3 {
    color: lightblue;
}

.footer-section a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: white;
}